{{ with .Site.Params.Author.links }}
<div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
    {{ range $link := . }}
    {{ if and (isset $link "url") (isset $link "name") }}
    {{ $url := $link.url }}
    {{ $name := $link.name }}
    {{ $icon := $link.icon | default $name }}
    <a class="px-1 hover:text-primary-700 dark:hover:text-primary-400" href="{{ $url | safeURL }}" target="_blank"
        aria-label="{{ $name }}" title="{{ $name }}" rel="me noopener noreferrer"><span
            class="inline-block align-text-bottom">{{ partial "icon.html" $icon }}</span></a>
    {{ else }}
    {{ range $name, $url := $link }}
    <a class="px-1 hover:text-primary-700 dark:hover:text-primary-400" href="{{ $url | safeURL }}" target="_blank"
        aria-label="{{ $name | title }}" title="{{ $name | title }}" rel="me noopener noreferrer"><span
            class="inline-block align-text-bottom">{{ partial "icon.html" $name }}</span></a>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}